<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cname.ishacreation">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ishacreation"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ishacreation_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ishacreation">
        <activity
            android:name=".about"
            android:exported="false" />
        <activity
            android:name=".Banner"
            android:exported="false" />
        <activity
            android:name=".Card"
            android:exported="false" />
        <activity
            android:name=".logo"
            android:exported="false" />
        <activity
            android:name=".folder"
            android:exported="false" />
        <activity
            android:name=".splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>